# Fire up GraphLab Create

In [1]:
import graphlab

# Load a tabular dataset

In [44]:
sf = graphlab.SFrame("people-example.csv")

PROGRESS: Finished parsing file C:\Users\steph_000.STEPHANIE\OneDrive\Documents\Moocs\Machine Learning specialization - Washington\1. Machine Learning foundations\Week 1\Getting started with Python and GraphLab\people-example.csv
PROGRESS: Parsing completed. Parsed 7 lines in 0.026021 secs.
------------------------------------------------------
Inferred types from first line of file as
column_type_hints=[str,str,str,long]
If parsing fails due to incorrect types, you can correct
the inferred type list above and pass it to read_csv in
the column_type_hints argument
------------------------------------------------------
PROGRESS: Finished parsing file C:\Users\steph_000.STEPHANIE\OneDrive\Documents\Moocs\Machine Learning specialization - Washington\1. Machine Learning foundations\Week 1\Getting started with Python and GraphLab\people-example.csv
PROGRESS: Parsing completed. Parsed 7 lines in 0.01501 secs.

In [45]:
sf

Columns:
	First Name	str
	Last Name	str
	Country	str
	age	int

Rows: 7

Data:
+------------+-----------+---------------+-----+
| First Name | Last Name |    Country    | age |
+------------+-----------+---------------+-----+
|    Bob     |   Smith   | United States |  24 |
|   Alice    |  Williams |     Canada    |  23 |
|  Malcolm   |    Jone   |    England    |  22 |
|   Felix    |   Brown   |      USA      |  23 |
|    Alex    |   Cooper  |     Poland    |  23 |
|    Tod     |  Campbell | United States |  22 |
|   Derek    |    Ward   |  Switzerland  |  25 |
+------------+-----------+---------------+-----+
[7 rows x 4 columns]

In [ ]:
sf.head()

In [5]:
sf.tail()

Columns:
	First Name	str
	Last Name	str
	Country	str
	age	int

Rows: 7

Data:
+------------+-----------+---------------+-----+
| First Name | Last Name |    Country    | age |
+------------+-----------+---------------+-----+
|    Bob     |   Smith   | United States |  24 |
|   Alice    |  Williams |     Canada    |  23 |
|  Malcolm   |    Jone   |    England    |  22 |
|   Felix    |   Brown   |      USA      |  23 |
|    Alex    |   Cooper  |     Poland    |  23 |
|    Tod     |  Campbell | United States |  22 |
|   Derek    |    Ward   |  Switzerland  |  25 |
+------------+-----------+---------------+-----+
[7 rows x 4 columns]

# GraphLab Canvas

In [6]:
sf['age']

dtype: int
Rows: 7
[24L, 23L, 22L, 23L, 23L, 22L, 25L]

In [7]:
sf.show()
# Take any data structure in GraphLab

Canvas is accessible via web browser at the URL: http://localhost:49616/index.html
Opening Canvas in default web browser.

In [8]:
graphlab.canvas.set_target('inpynb')

ValueError: Canvas target 'inpynb' is an invalid value. Select from: ['headless', 'none', 'ipynb', 'browser'].

In [9]:
graphlab.canvas.set_target('ipynb')

In [12]:
sf['age'].show(view= "Categorical")

## Inspect some columns of dataset

In [13]:
sf['Country']

dtype: str
Rows: 7
['United States', 'Canada', 'England', 'USA', 'Poland', 'United States', 'Switzerland']

In [14]:
sf["age"].mean()

23.142857142857146

## Create new columns in our SFrame

In [16]:
sf['Full name'] = sf["First Name"]+ ' ' + sf["Last Name"]

In [17]:
sf

Columns:
	First Name	str
	Last Name	str
	Country	str
	age	int
	Full name	str

Rows: 7

Data:
+------------+-----------+---------------+-----+----------------+
| First Name | Last Name |    Country    | age |   Full name    |
+------------+-----------+---------------+-----+----------------+
|    Bob     |   Smith   | United States |  24 |   Bob Smith    |
|   Alice    |  Williams |     Canada    |  23 | Alice Williams |
|  Malcolm   |    Jone   |    England    |  22 |  Malcolm Jone  |
|   Felix    |   Brown   |      USA      |  23 |  Felix Brown   |
|    Alex    |   Cooper  |     Poland    |  23 |  Alex Cooper   |
|    Tod     |  Campbell | United States |  22 |  Tod Campbell  |
|   Derek    |    Ward   |  Switzerland  |  25 |   Derek Ward   |
+------------+-----------+---------------+-----+----------------+
[7 rows x 5 columns]

In [20]:
sf["age"] = sf["age"] + 2

In [21]:
sf

Columns:
	First Name	str
	Last Name	str
	Country	str
	age	int
	Full name	str

Rows: 7

Data:
+------------+-----------+---------------+-----+----------------+
| First Name | Last Name |    Country    | age |   Full name    |
+------------+-----------+---------------+-----+----------------+
|    Bob     |   Smith   | United States |  26 |   Bob Smith    |
|   Alice    |  Williams |     Canada    |  25 | Alice Williams |
|  Malcolm   |    Jone   |    England    |  24 |  Malcolm Jone  |
|   Felix    |   Brown   |      USA      |  25 |  Felix Brown   |
|    Alex    |   Cooper  |     Poland    |  25 |  Alex Cooper   |
|    Tod     |  Campbell | United States |  24 |  Tod Campbell  |
|   Derek    |    Ward   |  Switzerland  |  27 |   Derek Ward   |
+------------+-----------+---------------+-----+----------------+
[7 rows x 5 columns]

## Use the apply function to do an advance transformation of our dataset

In [22]:
sf['Country'].show()

In [24]:
def transform_country(country):
    if country == "USA":
        return "United States"
    else:
        return country

In [26]:
transform_country("Bresil")

'Bresil'

In [27]:
transform_country("USA")

'United States'

In [ ]:
sf['Country'] = sf['Country'].apply(transform_country)

In [ ]:
sf["Country"]

In [ ]:
i = x